
 .containerList{
    padding: 30px;
    
 } 
 .formControl{
    margin: 10px ;
    width: 120px;
    border: 1px solid black;

 }
 .formControlWrapper {
   margin-bottom: 25px; /* Add your desired margin value here */
 }
 
 .gridL{
    height: 75vh;
    overflow: auto;
    margin: 20px;
    
 }
 .selectL{
    
     border: none; 
    border-bottom: 1px solid black; 
     
       
      
 }
